.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(249, 204, 211);
  font-family: Averta;
  font-size: 16px;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 1400px; /* Adjust as needed */

}

.header-left,
.header-center,
.header-right {
  flex: 1;
}

.header-left {
  display: flex;
  justify-content: flex-start;
}

.header-center {
  display: flex;
  justify-content: center;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-right a {
  margin-left: 10px;
}

.header-right span {
  margin-right: 10px;
}

.header-right button {
  margin-left: 10px;
}

.login-signup{
  padding-right: 50px;
}