.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(249, 204, 211);
  font-family: Averta;
  font-size: 16px;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 1400px; /* Adjust as needed */

}

.header-left,
.header-center,
.header-right {
  flex: 1;
}

.header-left {
  display: flex;
  justify-content: flex-start;
}

.header-center {
  display: flex;
  justify-content: center;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-right a {
  margin-left: 10px;
}

.header-right span {
  margin-right: 10px;
}

.header-right button {
  margin-left: 10px;
}
.login-signup {
  padding-right: 50px;
  display: flex;
  gap: 1rem; /* Adjust the space between the elements as needed */
}

.login-signup p {
  cursor: pointer;
  color: black; /* Adjust color as needed */
}


.login-signup p.login:hover,
.login-signup p.login:active {
  text-decoration: underline; /* Optional: to give it a link-like appearance */
  color: darkblue;
}

.login-signup p.signup:hover,
.login-signup p.signup:active {
  text-decoration: underline; /* Optional: to give it a link-like appearance */
  color: darkblue;
}

.nanny:hover {
  text-decoration: underline; /* Optional: to give it a link-like appearance */
  cursor: pointer;
  color: darkblue; /* Adjust color as needed */
}


